# Ignorar diretórios e arquivos de ambiente virtual
.venv/
env/
venv/

# Ignorar arquivos de configuração do editor
.vscode/
.idea/

# Ignorar arquivos de cache
__pycache__/
*.pyc


#ignorar arquivos do modelo
.pt
# Ignorar arquivos temporários
*.log
*.tmp
*.keras
*.pt
# Ignorar arquivos gerados por ferramentas de build
build/
dist/
# ignorar arquivos salvos nos diretorios de validados ou não 
img_no_validator/
img_validator/
